@import "tailwindcss";

@theme {
	/* Colors */
	--color-cream: #F9F8F4;
	--color-orange-brand: oklch(0.656 0.241 354.308);
	--color-primary-brand: oklch(0.656 0.241 354.308);
	--color-dark: #191817;
	
	--color-gray-50: oklch(0.985 0.001 106.423);
	--color-gray-100: oklch(0.97 0.001 106.424);
	--color-gray-200: oklch(0.923 0.003 48.717);
	--color-gray-300: oklch(0.869 0.005 56.366);
	--color-gray-400: oklch(0.709 0.01 56.259);
	--color-gray-500: oklch(0.553 0.013 58.071);
	--color-gray-600: oklch(0.444 0.011 73.639);
	--color-gray-700: oklch(0.374 0.01 67.558);
	--color-gray-800: oklch(0.268 0.007 34.298);
	--color-gray-900: oklch(0.216 0.006 56.043);
	--color-gray-950: oklch(0.147 0.004 49.25);

	--font-serif: "Instrument Serif", serif;
	--font-sans: "Inter", sans-serif;
}

body {
	background-color: var(--color-cream);
	font-family: var(--font-sans);
	color: var(--color-dark);
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-serif);
}

